/* .brand-page__brand-landing__video-background {
    width: 100%;
    display: flex;
    justify-content: center;
}

.brand-page__brand-landing__video-background .image-background, .brand-page__brand-landing__video-background .video-background {
    width: 100%;
    position: fixed;
    top: 66px;
    max-width: 1920px;
    margin: 0 auto;
}

.brand-page__brand-landing__video-background .image-background--is-visible {
    display: block;
}

.brand-page__brand-landing__video-background .image-background {
    display: none;
}
.brand-page__brand-landing__video-background .image-background {
    opacity: .2;
} */