<button class="btn mr-1" (click)="onfileUploadBtnClick($event)" [ngClass]="{'disabled': !(selectedTitle?._id?.length > 0)}">
  <i class="tim-icons icon-simple-add"></i>
  Choose</button>

<button class="btn mr-1" [ngClass]="{'disabled': !(selectedTitle?._id?.length > 0)}" (click)="uploadFile()">
  <i class="tim-icons icon-cloud-upload-94"></i>
  Upload</button>


<input #fileUpload type="file" class="input_fileupload--hidden" (input)="onInput($event)"
  (change)="onFileSelected($event)" [(ngModel)]="uploadedFileName" [accept]="">

<table class="table" style="margin-top: 25px;">
  <tbody>
    <div *ngFor="let file of files">
      <tr>
        <td class="vertical-align-middle text-center" style="width: 100px;"><img class="d-block w-100"
            [src]="selectedTitle?.poster" width="70px !important" /></td>
        <td class="vertical-align-middle text-center" style="width: 285px;">{{selectedTitle?.title}}</td>
        <td class="vertical-align-middle text-center" style="width: 6vw;">{{formatBytes(file.size)}}</td>
        <td class="td-actions text-right vertical-align-middle text-center">
          <button type="button" rel="tooltip" class="btn btn-danger btn-simple btn-icon btn-sm"
            (click)="removeFile(file)">
            <i class="tim-icons icon-simple-remove"></i>
          </button>
        </td>
      </tr>
    </div>
  </tbody>
</table>